<header>
  <ul class="nav nav-pills mt-3">
    <li class="nav-item">
      <a
        class="nav-link <%= (title == 'Фирмы') ? 'active' : '' %>"
        href="/firms"
        >Фирмы</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link <%= (title == 'Клиенты') ? 'active' : '' %>"
        href="/clients"
        >Клиенты</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link <%= (title == 'Выполненные работы') ? 'active' : '' %>"
        href="/completedWorks"
        >Выполненные работы</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link <%= (title == 'Расходы') ? 'active' : '' %>"
        href="/expences"
        >Расходы</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link <%= (title == 'Сотрудники') ? 'active' : '' %>"
        href="/staffs"
        >Сотрудники</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users">Выйти</a>
    </li>
  </ul>
</header>
