<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <div class="container-xxl">
      <main>
        <h1 class="mt-3">Редактирование продажи</h1>
        <form action="/sales/edit/<%= sale.id %>?_method=PUT" method="post">
          <div class="col-xl-6 mt-3">
            <label for="client" class="form-label">Клиент</label>
            <select
              class="form-select"
              name="client"
              id="client"
              required
              value="<%= sale.client %>"
            >
              <% if (entities.length) { %> <% entities.forEach(({id, name,
              number, address}) => { %>
              <option value="<%= name %>"><%= name %></option>
              <% }) %> <% } %> <% if (individuals.length) { %> <%
              individuals.forEach(({id, name, date, number, address}) => { %>
              <option value="<%= name %>"><%= name %></option>
              <% }) %> <% } %>
            </select>
          </div>
          <div class="col-xl-6 mt-3">
            <label for="product" class="form-label">Продукт</label>
            <select
              class="form-select"
              name="product"
              id="product"
              required
              value="<%= sale.product %>"
            >
              <% if (products.length) { %> <% products.forEach(({id, name,
              count, price}) => { %>
              <option value="<%= name %>"><%= name %></option>
              <% }) %> <% } %>
            </select>
          </div>
          <div class="col-xl-6 mt-3">
            <label for="number" class="form-label"
              >Количество проданной продукции</label
            >
            <input
              type="number"
              class="form-control"
              id="count"
              required
              name="count"
              value="<%= sale.count %>"
            />
          </div>

          <div class="col-xl-6 mt-3">
            <label for="price" class="form-label">Общая стоимость</label>
            <input
              readonly
              type="text"
              class="form-control-plaintext"
              id="price"
              required
              name="price"
              value="<%= sale.price %>"
            />
          </div>

          <div class="col-xl-6 mt-3">
            <label for="date" class="form-label">Дата продажи</label>
            <input
              type="date"
              class="form-control"
              id="date"
              required
              name="date"
              value="<%= sale.date %>"
            />
          </div>

          <% if (products.length) { %> <% products.forEach(({id, name, count,
          price}) => { %>
          <input type="hidden" class="priceHidden" value="<%= price %>" />
          <% }) %> <% } %>

          <div class="mt-3">
            <button class="btn btn-primary button" type="button" id="btn">
              Добавить
            </button>
            <button class="hidden" type="submit">Добавить</button>
            <a href="/sales" class="btn btn-primary">Назад</a>
          </div>
        </form>
      </main>
    </div>
    <%- include('../partials/scripts.ejs') %>
  </body>
</html>
