<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <div class="container-xxl">
      <%- include('../partials/header.ejs') %>
      <main>
        <h1 class="mt-3">Физические лица</h1>
        <table class="table mt-3">
          <thead>
            <tr>
              <th scope="col">ФИО</th>
              <th scope="col">Дата рождения</th>
              <th scope="col">Номер паспорта</th>
              <th scope="col">Адрес(страна, город, улица, номер дома)</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% if (individuals.length) { %> <% individuals.forEach(({id, name,
            date, number, address}) => { %>
            <tr>
              <th><%= name %></th>
              <th><%= date %></th>
              <th><%= number %></th>
              <th><%= address %></th>
              <th>
                <a href="/individuals/edit/<%= id %>" class="btn btn-primary"
                  >Редактировать</a
                >
                <button class="btn btn-primary" data-id="<%= id %>">
                  Удалить
                </button>
              </th>
            </tr>
            <% }) %> <% } %>
          </tbody>
        </table>
        <a href="/individuals/add" class="btn btn-primary">Добавить</a>
      </main>
    </div>
    <%- include('../partials/scripts.ejs') %>
    <script>
      document.addEventListener('click', (event) => {
        const id = event.target?.dataset?.id || null
        if (id && confirm('Вы действительно хотите удалить')) {
          fetch(`/individuals/${id}`, {
            method: 'DELETE',
          }).then(() => {
            window.location.reload()
          })
        }
      })
    </script>
  </body>
</html>
