<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <div class="container-xxl">
      <%- include('../partials/header.ejs') %>
      <main>
        <h1 class="mt-3">Расходы</h1>
        <table class="table mt-3">
          <thead>
            <tr>
              <th scope="col">Вид работы</th>
              <th scope="col">Сумма</th>
              <th scope="col">Метод оплаты</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% if (expences.length) { %> <% expences.forEach(({id, work_id, price, pay}) => { %>
            <tr>
              <th><%= work_id %></th>
              <th><%= price %></th>
              <th><%= pay %></th>
              <th>
                <a href="/expences/edit/<%= id %>" class="btn btn-primary"
                  >Редактировать</a
                >
                <button class="btn btn-primary" data-id="<%= id %>">
                  Удалить
                </button>
              </th>
            </tr>
            <% }) %> <% } %>
          </tbody>
        </table>
        <a href="/expences/add" class="btn btn-primary">Добавить</a>
      </main>
    </div>
    <%- include('../partials/scripts.ejs') %>
    <script>
      document.addEventListener('click', (event) => {
        const id = event.target?.dataset?.id || null
        if (id && confirm('Вы действительно хотите удалить')) {
          fetch(`/expences/${id}`, {
            method: 'DELETE',
          }).then(() => {
            window.location.reload()
          })
        }
      })
    </script>
  </body>
</html>
